{% extends 'base.html' %}
{% load static %}
{% block content %}

  <!-- Header-->
  <header class="bg-dark py-5" >
    <div class="container px-2 px-lg-2 my-2" >
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us...</h1>
            <p class="lead fw-normal text-white-50 mb-0">
                Welcome to Fresh Harvest Online shopping
                 
            </p>
        </div>
    </div>
</header>
<div class="container" >
    <div class="row">
        <center>
            <div class="col-8">
                <p class="lead fw-normal text-black-50 mb-0">
                
                     Your dedicated platform where agriculture meets 
                     innovation to create a seamless, efficient, and trustworthy 
                     marketplace for both farmers and buyers. Our mission is to empower farmers 
                     by providing them a platform to showcase and sell their produce, enable 
                     buyers to compare prices effortlessly, and ensure secure transactions through 
                    our trusted middleman services.
                    <br>
                    <br>
                    Our Vision is to revolutionize the 
                    agricultural marketplace by 
                    fostering direct connections
                     between farmers and buyers, 
                     eliminating unnecessary hurdles, 
                     and building a community based on 
                     trust, transparency, and mutual benefit.
                </p>
            </div>
        </center>
    </div>
</div>

{% endblock %} 